<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Conference Publications</h2>
                <div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, Liang Feng, Meng Hiot Lim, Caishun Chen, Choon Sing Ho. “Towards Believable Resource Gathering Behaviors in Real-time Strategy Games with a Memetic Ant Colony System”, In The Asia Paciﬁc Symposium of Intelligent and Evolutionary Systems, 2013.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, Yew Soon Ong, Puay Siew Tan, NengSheng Zhang, Zhengping Li. “Agent-Based Modeling and Simulation for Supply Chain Risk Management C A Survey of the State-of-theArt”, In IEEE Systems, Man & Cybernetics Conference, 2013. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> H.E. Huang, Y. S. Ong, C. S. Ho, <b>X. S. Chen</b>, “IGA Flock Brush for Non-Photorealistic Rendering”, In Proceeding SEAL’12 Proceedings of the 9th international conference on Simulated Evolution and Learning, Vol. 7673, pp. 480-490, 2012.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> L. Feng, Y. S. Ong, A. H. Tan and <b>X. S. Chen</b>, “Towards Human-like Social Multi-agents with Memetic Automaton”, In IEEE Congress on Evolutionary Computation, pp. 1092-1099, 2011  </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> C. S. Ho, Q. H. Nguyen, Y. S. Ong, <b>X. S. Chen</b>: “Autonomous Multi-agents in Flexible Flock Formation”, In Proceedings of the Third international conference on Motion in games , pp. 375-385, 2012  </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-tagline"> <b><b>X. S. Chen</b></b>, Y. S. Ong, and M. H. Lim. ”Cooperating Memes for Robust Vehicle Routing”, International Journal of Innovative Computing, Information and Control, Vol. 7, No. 11, pp. 6483-6506, 2011. </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, M. H. Lim, and Y. S. Ong. “An Ant colony system algorithm for path planning in sparse graphs”, In ICIAS2007 (International Conference on Intelligent & Advanced Systems 2007), pp. 31-36, 2007.  </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, M. H. Lim, and D. C. Wunsch II. “A memetic algorithm conﬁgured via a problem solving environment for the hamiltonian cycle problems”, In IEEE Congress on Evolutionary Computation, pp. 2766 - 2773, 2007.
 </span>
                </div><!--//item-->
            </section><!--//section-->
