 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Ph.D in Computer Science (G.P.A 4.84/5.0)</h4>
    <h5 class="meta">Nanyang Technological University</h5>
    <div class="time">2007-2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.Sc. in Electrical and Electronic Engineering (2nd Upper)</h4>
    <h5 class="meta">Nanyang Technological University</h5>
    <div class="time">2003 - 2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">A-Level (Top 7 in College-wide Ranking)</h4>
    <h5 class="meta">Temasek Junior College</h5>
    <div class="time">2000 - 2003</div>
</div><!--//item-->
</div><!--//education-container-->
