<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SOFTWARE ARCHITECT</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Whiz Home</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Design and implement web and mobile e-commerce solution using Spring Cloud, Magento, react-native, react, angularjs, websocket, elasticsearch</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SOFTWARE ARCHITECT</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">CLEF</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>System architect responsible for the design and implementation of CLEF web applications and its distributed computing platform built using Spring Cloud, Spring Boot, Apache Spark + GraphX, Hadoop, Apache Mesos, Mariadb Cluster.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SOFTWARE ARCHITECT</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Meme Analytics Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Managing Director Chief technology architect of Meme Analytics Pte Ltd, specializing in data analytics, machine learning, simulation and optimization, web and mobile application and works on intelligent decision support, analytics and optimization system for supporting large scale real world engineering problems in dealing with complex problem dynamics through modeling and simulation, oﬀer consultancy or direct customized system implementation and integration of turnkey solutions to clients.</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DATA SCIENTIST</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Neuro10</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Data scientist of neuro10, specializing in big-data machine learning for log and timeseries analytics, responsible for designing and implementing big-data machine learning infrastructure as well as algorithms related to anomaly detection, text mining, natural language processing, time series predictive modeling. Actively involved in the development of Java-based software solution using Apache Spark, Mesos, Akka, Cassandra, Kafka, as well as HDFS (Hadoop Distributed File System).</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">RESEARCH FELLOW</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Nanyang Technological University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Researcher working on machine learning and agent-based simulations, actively involved in various industrial projects related to Machine Learning, Data Mining, Supply Chain Optimization, Agent-Based Modeling, etc.</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PROJECT OFFIER</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Nanyang Technological University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Researcher working with NTU, main area of research includes meta-heuristics, continuous and combinatorial optimization, memetic computation, vehicle routing, supply chain risk management. Research work involves genetic programming, multi-objective optimization, robust search, time series forecasting, agent-based modeling, neural networks, gaussian process, PID and MPC controller</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">TECHNICAL CONSULTANT</h3>
                            <div class="time">2009 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">CodeZone Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Software developer and technical consultant at CodeZone, specializing in delivering custom solutions for scheduling and optimization as well as simulation applications.</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SOFTWARE DEVELOPER</h3>
                            <div class="time">2007 - 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Autodesk Singapore Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Software Developer for Oﬃce Tool Automation using VBA. The oﬃce tool automation includes code generator that dynamically generate and inject VBA codes into excel based on instructions retrieve from database.</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SOFTWARE DEVELOPER</h3>
                            <div class="time">2006 - 2006</div>
                        </div><!--//upper-row-->
                        <div class="company">Agilent Technologies Singapore Pte Lt</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Software Developer for Oﬃce Tool Automation using VBA as well as developing Web 2.0 application using ASP.NET. The oﬃce tool automation includes automatic processing data from various data sources such as Excel, Access and process results into auto-generated Powerpoint presentation and auto send via Outlook automation. The Customer Satisfaction Dashboard is a Web App I designed and implemented to automatically retrieves and process data on customer satisfaction and send individuallycustomized report to various level of management, based on their roles and tasks involved</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
