<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">RESEARCH ASSOCIATE</h3>
                            <div class="time">2011 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Nanyang Technological University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I do research and software works in Game, AI, multi-agent system, machine learning, data analysis, AR, VR, education and entertain softwares.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SOFTWARE ARCHITECT</h3>
                            <div class="time">2008 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Ping An Technology</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I have been working for Ping An Technology Corporation.LTD as a System Management Engineer which is mainly responsible for system environment building and operation and maintenance management.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
