<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Inventions</h2>
                <div class="item">
                    <span class="project-tagline">  ”AR/VR based Interactive Visualisation Of Furniture Models On Mobile Devices” Technical Disclosure & commercialization through NTU NIEO, TD-268-17. 1st Inventor </span>
				</div>
				<div class="item">
					<span class="project-tagline"> "AI Game Editor", TD-056-17, 1st Inventor </span>
                </div><!--//item-->
				<div class="item">
					<span class="project-tagline"> "Intelligent GameDesigner", TD-079-15, 1st Inventor</span>
				</div>
				<div class="item">
					<span class="project-tagline"> "Maze", TD-078-15, 1st Inventor</span>
				</div>
				<div class="item">
					<span class="project-tagline"> "Catwalk Simulation (CASI)", TD-183-14
				</div>
				<div class="item">
					<span class="project-tagline"> "Crowd Simulation API – FAME for Unity3D Game Engine", TD-014-14
				</div>
                <div class="item">
                    <span class="project-tagline"> AIRDesigner Technical Disclosure & commercialization through NTU NIEO, TD/185/14, 3rd Inventor  </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> ”Crowd Simulation Plugin (FAME)”, Research Commercialization Via Deployable APIs, TD/03713, 3rd Inventor</span>
                </div><!--//item-->
            </section><!--//section-->
