<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Inventions</h2>
                <div class="item">
                    <span class="project-tagline">  ”Large Engineering Supply Chain Adaptive System (LesCaS)” Technical Disclosure & commercialization through NTU NIEO, TD/193/12. 1st Inventor </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> AIRDesigner Technical Disclosure & commercialization through NTU NIEO, TD/185/14, 3rd Inventor  </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> ”Crowd Simulation Plugin (FAME)”, Research Commercialization Via Deployable APIs, TD/03713, 3rd Inventor</span>
                </div><!--//item-->
            </section><!--//section-->
