<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Journal Publications</h2>
                <div class="item">
                    <span class="project-tagline"> L. Feng, Y. S. Ong, <b>X. S. Chen</b> and C. Chen, ”Conceptual Modeling of Evolvable Local Searches in Memetic Algorithms using Linear Genetic Programming: A Case Study on Capacitated Vehicle Routing Problem”, Soft Computing Journal, No. 9, 2016. </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, ”An algorithm development environment for problem-solving: software review”, Memetic Computing Journal, Vol. 4, No. 2, pp. 149-161, 2012. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, L. Feng and Y. S. Ong, ”Self-Adaptive Memeplexes Robust Search Scheme for solving Stochastic Demands Vehicle Routing Problem”, International Journal of Systems Science, Vol. 43, No. 7, pp. 1347-1366, 2012.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b> and Y. S. Ong, ”A Conceptual Modeling of Meme Complexes in Stochastic Search”, IEEE Transactions on Systems, Man and Cybernetics, Part C, Vol. 42, No. 3, 2012. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, Y. S. Ong, M. H. Lim and K. C. Tan, ”A Multi-Facet Survey on Memetic Computation”, IEEE Transactions on Evolutionary Computation, Vol. 15, No. 5, pp. 591607, 2011. </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-tagline"> <b>X. S. Chen</b>, Y. S. Ong, and M. H. Lim. ”Cooperating Memes for Robust Vehicle Routing”, International Journal of Innovative Computing, Information and Control, Vol. 7, No. 11, pp. 6483-6506, 2011. </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-tagline"> Y. S. Ong, M. H. Lim and <b>X. S. Chen</b>, ”Research Frontier: Memetic Computation - Past, Present & Future”, IEEE Computational Intelligence Magazine, Vol. 5, No. 2, pp. 24-36, 2010 </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-tagline"> K. K. Lim, Y. S. Ong, M. H. Lim, <b>X. S. Chen</b>, and A. Agarwal. ”Hybrid ant colony algorithms for path planning in sparse graphs”, Soft Computing, 12(10):981-994, 2008. </span>
                </div><!--//item-->
            </section><!--//section-->
