<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Open Source Contributions</h2>
                <p>For the video demo of some of the projects i have done in my professional works:</p>
					<ul>
						<li>Youtube: <a href="https://www.youtube.com/channel/UCQAmaunPDGQwQ2e2dnaLo9Q" target="_blank">https://www.youtube.com/channel/UCQAmaunPDGQwQ2e2dnaLo9Q</a></li>
					</ul>
                    <p>For my personal Open Source contribution, they can be found at the following links:</p>
					<ul>
						<li>Github: <a href="https://github.com/cschen1205">https://github.com/cschen1205</a></li>
						<li>Java: <a href="https://mvnrepository.com/search?q=cschen1205">https://mvnrepository.com/search?q=cschen1205</a></li>
						<li>Python: <a href="https://pypi.python.org/pypi?%3Aaction=search&term=cschen1205&submit=search">https://pypi.python.org/pypi?%3Aaction=search&term=cschen1205&submit=search</a></li>
						<li>Javascript: <a href="https://www.npmjs.com/~cschen1205">https://www.npmjs.com/~cschen1205</a></li>
						<li>C#: <a href="https://www.nuget.org/proﬁles/cschen1205">https://www.nuget.org/proﬁles/cschen1205</a></li>
						<li>Lua: <a href="https://luarocks.org/modules/cschen1205">https://luarocks.org/modules/cschen1205</a></li>
					</ul>
            </section><!--//section-->
