<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Research Publications</h2>
                <div class="item">
                    <span class="project-tagline"> ”A Conceptual Modeling of Flocking-regulated Multi-agent Reinforcement Learning”, Nov 3, 2016  publication. WCCI-CEC 2016, Vancouver, Canada. </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline"> ”Towards Believable Resource Gathering Behaviours in Real-time Strategy Games with a Memetic Ant Colony System”, Procedings of the 17th Asia Pacific Symposium on Intelligent and Evolutionary Systems (IES 2013). </span>
                </div><!--//item-->
                
            </section><!--//section-->
